---
layout: default
title: Home
order: 1
---

<div class="home">

	<div id="name-box" >
		<h1 style="padding-bottom:0em; margin-bottom:0em; "Ariel Kellison</h1>
		<h3 style="padding:0em; margin:0em; font-style:italic; ">PhD Candidate</h2 >
    <h3 style="padding:0em; margin:0em; ">Cornell University</h2 >
    <div>
      <ul class="contact-list" style="margin:0; padding:0;">
        <li class="inline-social">
          {% include icon-email.html email=site.email %}
        </li>
        <li class="inline-social" style="margin-left:2em; margin-right:2em; ">
          {% include icon-google-scholar.html username=site.scholar_username %}
        </li>
      </ul>
    </div>
	</div>
	 
  <div id="info-box" >
  
  	<img id="me" src="/assets/images/kellison_22.png" />
  	<div id="research-focus" >
  	<h4>Research Focus : formal methods, programming languages, and computer arithmetic.</h4>
  	<span style="font-style:italic; ">
  		<p> I design foundational tools with rigorous guarantees that make it convenient for 
          programmers to reason about numerical accuracy and correctness.
  			</p>
  	</span>
  	</div>
  </div>

</div>
