@font-face {
  font-family: "Computer Modern";
  src: url('cmunrm.ttf') format('truetype');
}

body {
  font-family: "Computer Modern";
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

.main {
  padding-left:10%;
  padding-bottom:5%;
}

.vl {
  border-left: 3px solid #AFE1AF;
  position:fixed;
  height: 80%;
}

header {
  float:left;
  padding-right: 4%;
}

.bio {
  clear:left;
  padding-top: 1%;
}

@media (min-width: 700px) {
  .bio {
    clear:none;
    padding-top: 0%;
  }
}

a:link {
  color: rgb(46, 114, 209);
  background-color: transparent;
  text-decoration: underline;
}
